.container{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
    background-color: white;
    width: 40rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 1rem 5rem;
}
.header{
    margin-bottom:.25rem ;
    font-size: 28px;
}
.description{
    margin-bottom: 1.5rem;
    color: #666;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
    
}
.col{
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
}
.form{
    margin: auto;
    width: 30rem;
}
input[type="text"], input[type="number"], input[type="password"]{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    width: 100%;
}
.checkboxGroup{
    margin-top: .5rem;
    display: flex;
    align-items: center;
    gap: 5px;
}
label{
    color: #666;
    font-size: 14px;
}
.account{
    padding: .8rem;
    border: none;
    background-color:  #4169E1 ;
    border-radius: .25rem;
    color: white;
}
.SignIn{
    padding: .8rem;
    border: none;
    background-color:  #003153  ;
    border-radius: .25rem;
    color: white;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.social{
    margin-top: 2rem;
}
.google{
    background-color: black;
    color: white;
    border-radius: .25rem;
    border: none;
    padding: .25rem;
    margin-right: .5rem;
}

.apple{
    background-color: black;
    color: white;
    border-radius: .25rem;
    border: none;
    padding: .25rem;
}
.google:hover , .apple:hover{
    cursor: pointer;
}

.phoneNumber{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}